.App {
  font-family: sans-serif;
  max-width: 500px;
  margin: 0 auto;
  button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
  dialog {
    max-width: max(325px, 50%);
    background: lemonchiffon;
    border-radius: 10px;
    box-shadow: 0 25px 100px #212121;
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .x {
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: none;
        padding: 10px;
      }
      .bottom-buttons {
        button {
          background: azure;
          border: 1px solid darkcyan;
        }
      }
    }
  }
  .recipes-container {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    background: azure;
    color: white;
    button {
      border: none;
      border-radius: 0;
      background: transparent;
      text-align: left;
      text-transform: capitalize;
      margin: 0;
      &:hover {
        background: darkcyan;
      }
      &.highlight {
        background: gold;
      }
    }
  }
  .add-recipe {
    border-radius: 10px;
    background: white;
    margin: 20px 0;
    padding: 10px 20px;
    background: palegreen;
    border: 1px solid darkgreen;
  }
  .current-recipe {
    background: rgba($color: peachpuff, $alpha: 0.6);
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
    h2,
    p {
      margin: 0;
    }
    button {
      &.delete-recipe {
        background: pink;
        border: 1px solid darkred;
      }
      &.edit-recipe {
        background: gold;
        border: 1px solid darkgoldenrod;
      }
    }
  }
}
